*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.profile{
    position: absolute;
    right: 80%;
    color: white;
    font-size: 25px;
    list-style: none;
}

.menu2{
    display: flex;
    position: static;
    justify-content: space-between;
    gap: 1.20rem;
    list-style: none;
    margin-top: 30px;
    margin-right: 47px;
    font-family: "Matemasie", sans-serif;
    
  }
.image-profile{
    position: absolute;
    right: 220px;
    height: 50px;
}
.profile-text{
    position: absolute;
    left: 850px;
    top: 150px;
}

.img-profile{
    position: absolute;
    left: 800px;
    top: 300px;
}

.form-label{
    position: absolute;
    left: 900px;
    top: 650px;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

.form-post{
    position: absolute;
    top: 720px;
    left: 750px;
}


.submenu{
    display: none;
}

.submenu.active{
    display: block;
}

.submenu {
    list-style: none;
   position: absolute;
   left: 968px;
   top: 108px;
   z-index: 10001;
  
  

}

.submenu-menu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: black;
    width: 170px;
    height: 55px;
    font-size: 20px;
    top: 130px;
    
}


.form-config{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 812px;
    background-color: red;
    width: 280px;
    height: 390px;
    border-radius: 15px;

}
.form-config label{
    display: flex;
    margin-left: 30px;
    width: 300px;
    text-align: center;
    
   
    
}

.submit-edit{
    position: relative;
    top: 20px;
    right:21px;
}


.form-config input{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;  
    text-align: center;
    
}

.formulario-edit{
    position: absolute;
    top: 780px;
    left: 814px;
}
.formulario-edit label{
    position: absolute;
   bottom: 200px;
    left: 80px;
}

.formulario-edit img{
    width: 100px;
    position: relative;
    left: 85px;
   
}

.submit-image{
    position: relative;
    right: 50px;
}

.profile-text{
    position: absolute;
    left: 43%;
}


@media screen and (max-width:1440px) {
    .submenu {
       
       position: absolute;
       left: 760px;
    }

    .menu2{
        display: flex;
        margin-right: 130px;
      }

    .form-config{
        display: flex;
        margin-left: 590px;
    }
    
    

    .formulario-edit{
        position: absolute;
        left: 590px;
    }

    .profile-text{
        position: absolute;
        left: 600px;
    }
    
    .profile{
        position: relative;
        right: 220px;
    }
}

@media screen and (max-width:1325px) {
    .submenu {
       
       position: absolute;
       left: 710px;
    }

    .form-config{
        display: flex;
        margin-left: 550px;
    }

    

    .formulario-edit{
        position: absolute;
        left: 550px;
    }
    .profile-text{
        position: absolute;
        left: 557px;
    }

    .profile{
        position: relative;
        right:  150px;
    }
}

@media screen and (max-width:1200px) {
    .submenu {
       
       position: absolute;
       left: 640px;
    }
    .form-config{
        display: flex;
        margin-left: 480px;
    }

    .formulario-edit{
        position: absolute;
        left: 480px;
    }

    .profile-text{
        position: absolute;
        left: 486px;
    }

    .image-profile{
        position: absolute;
        right: 200px;
    }
    .profile{
        position: relative;
        right: 100px;
    }
}

@media screen and (max-width:1100px) {
    .submenu {
       
       position: absolute;
       left: 590px;
    }
   
    .menu2{
        display: flex;
        margin-left: 190px;
      }
    .profile{
        position: absolute;
        right: 75%;
        
    }

    .image-profile{
        position: absolute;
        right: 190px;
        height: 50px;
    }

    .form-config{
        display: flex;
        margin-left: 425px;
    }

    .formulario-edit{
        position: absolute;
        left: 425px;
    }

    .profile-text{
        position: absolute;
        left: 440px;
    }
}

@media screen and (max-width:1024px) {
    .submenu {
       
       position: absolute;
       left: 540px;
    }

    .form-config{
        display: flex;
        margin-left: 370px;
    }

    .formulario-edit{
        position: absolute;
        left: 370px;
    }

    .profile-text{
        position: absolute;
        left: 400px;
    }
}

@media screen and (max-width: 900px) {
    .submenu {
       
       position: absolute;
       left: 199px;
       top: 70px;
    }
    
    .profile-text{
       position: absolute;
       left: 300px;
    }

    .form-config{
        display: flex;
        margin-left: 295px;
    }
    .menu2{
        display: flex;
        margin-right: 200px;
    }
    .formulario-edit{
        position: absolute;
        left: 295px;
    }
    .profile-text{
        position: absolute;
        left: 320px;
    }

    .profile{
        position: absolute;
        right:  650px;
    }
}

@media screen and (max-width: 800px) {
    .submenu {
       
       position: absolute;
       left:  -2px;
       top: 326px;
       background-color: rgb(44, 44, 44);
       height: 240px;
       width: 223px;
       border-radius: 30px;
    }
    .submenu-menu{

        background-color: none;
        position: relative;
        top: 20px;
        right: 9px; 
        background-color: rgb(44, 44, 44);
        font-size: 16px;
               
        
    }

    .menu2{
        display: grid;
        grid-template-columns: min-content;
        position: absolute;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-style: solid;
        left: 376px;
        width: 234px;
        height: 330px;
        display: none;
        background-color: rgb(44, 44, 44);
        top: 78px;
        z-index: 1;
        
       
    
       }
      
       .menu2 li {
        display: flex;
        justify-content: center;
        padding: 30px;
        height: 110px;
       }
        
        .android:hover + .menu{
          display: block;
        }
          
          
          .menu2.active{
            display: block;
          }
   
    

    .submenu:hover{
        color: aqua;
    }

    .profile{
        position: absolute;
        right: 60%;
       top: 30px;
        font-size: 25px;
        
    }

    .form-config{
        display: flex;
        margin-left: 272px;
    }

    .formulario-edit{
        position: absolute;
        left: 272px;
    }
    .profile-text{
        position: absolute;
        left: 300px;
    }
    
}

@media screen and (max-width: 768px) {
    .submenu {
       
       position: absolute;
       left:  -2px;
      
      
    }  

    
    .menu2{
        position: absolute;
        left: 344px
    }
    .form-config{
        display: flex;
        margin-left: 260px;
    }

    .formulario-edit{
        position: absolute;
        left: 260px;
    }

    .profile-text{
        position: absolute;
        left: 290px;
    }
}

@media screen and (max-width: 620px) {
    .submenu {
       
       position: absolute;
       left:  -2px;
      
      
    }  
    
    .profile{
        position: absolute;
        right:  340px;
    }

    .menu2{
        position: absolute;
        left: 196px;
    }


    .form-config{
        display: flex;
        margin-left: 172px;
    }

    .formulario-edit{
        position: absolute;
        left: 172px;
    }

    .profile-text{
        position: absolute;
        left: 220px;
    }
    .profile-text{
        position: absolute;
        left: 210px;
    }
}

@media screen and (max-width: 500px) {
    .submenu {
       
       position: absolute;
       left:  -2px;
      
      
    }  

    .menu2{
        position: absolute;
        left: 76px;
    }
    
    .profile{
        position: absolute;
        right: 50%;
        
    }

    .form-config{
        display: flex;
        margin-left: 100px;
    }

    .formulario-edit{
        position: absolute;
        left: 100px;
    }

    .profile-text{
        position: absolute;
        left: 140px;
    }
    
}

@media screen and (max-width: 425px) {
    .submenu {
       
       position: absolute;
       left:  2px;
      
      
    }  

    .menu2{
        position: absolute;
        left: 66px;
    }

    .header{
        width: 490px;
    }
    .profile{
        position: relative;
        right: 40px;
        
    }

    .form-config{
        display: flex;
        margin-left: 80px;
    }

    .formulario-edit{
        position: absolute;
        left: 80px;
    }

    .profile-text{
        position: absolute;
        left: 120px;
    }
   

    .android{
        position: absolute;
       left: 370px;
    }

    .menu{
        position: absolute;
        left: 196px;
    }
}

@media screen and (max-width: 375px) {
     
    .profile-text{
        position: absolute;
       left: 80px; 
    }
    .profile{
        position: absolute;
        right: 220px;
    }

    .form-config{
        position: fixed;
        left: 2px;
        
    }

    

    .formulario-edit{
        position: fixed;
        left: 80px;
       top: 800px;
      

    }

    #file0{
        position: relative;
        right: 50px;
        font-size: 15px;
        top: -10px;
    }

    .profile-text{
        position: absolute;
        left: 125px;
    }

    
    
}

@media screen and (max-width: 320px) {
    .submenu {
       
       position: absolute;
       left:  -2px;
       top: 326px;
      
      
    } 

    .menu2{
        position: absolute;
        left: -54px;
        top: 69px;
    }

    .android{
        position: absolute;
        left: 260px;
    }
    
    .image-profile{
        position: absolute;
        left: -59px;
    }

    .header{
        width: 370px;
    }

    .profile{
        position: absolute;
        right: 150px;
    }

    .form-config{
        position: fixed;
        left: -39px;
        
    }

    

    .formulario-edit{
        position: absolute;
        left: 1px;
       top: 460px;
      

    }

    .profile-text{
        position: absolute;
        left: 90px;
    }
   
}